<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Built In Test</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DEC Blade Server</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('controlpanel') }}">Control Panel</a></li>
            <li><a href="{{ url_for('configure') }}">Configure</a></li>
            <li><a href="{{ url_for('recordings') }}">Recordings</a></li>
            <li class="active"><a href="{{ url_for('built_in_test') }}">Built in Test</a></li>
            <li><a href="{{ url_for('event_log') }}">Event Log</a></li>
            <li><a href="#contact">Contact</a></li>
            {% if not session.logged_in %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="page-header">
        <h1>Built In Test</h1>
      </div>

      <div>
        <table class="table table-hover table-grid">
          <thead>
          <tr>
            <th>Number</th>
            <th>Configuration</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="filterable-cell">1</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">3</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">3</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">4</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">5</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">6</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">7</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">8</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">9</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">10</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
          <tr>
            <td class="filterable-cell">11</td>
            <td class="filterable-cell">Configuration Name </td>
            <td class="filterable-cell">Ethernet</td>
          </tr>
        </table>
      </div>  
      <button type="button" id="bconf" class="btn btn-lg btn-primary">Edit</button>
      <button type="button" id="bconf" class="btn btn-lg btn-primary">Create</button>
      <button type="button" id="bconf" class="btn btn-lg btn-primary">Delete</button>
      <button type="button" id="bconf" class="btn btn-lg btn-primary">Load</button>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
